.form-group {
  margin-bottom: 0.5rem;
}

.form-label {
  display: block;
  font-family: Arial, sans-serif;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: large;
  color: #000000;
}

.astro-details {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: calc(2rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 2px solid #6aabf1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #6aabf1;
  border: 1px solid #6aabf1;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.output-box {
  width: 80%;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #145aa1;
}

.display-6 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.astro-details {
  display: flex;
  flex-direction: column;
}

.astro-details img {
  margin-right: 1rem;
}

.astro-details p {
  margin: 0;
}


.output-box .astro-details {
  width: 50%;
  margin: 0;
}

.output-box .astro-details:nth-child(odd) {
  text-align: right;
}

.output-box .astro-details:nth-child(even) {
  text-align: left;
}
