.card[b-x7iv87rmfm] {
    flex-direction: column;
}

.card img[b-x7iv87rmfm] {
    width: 30%;
  }
#search[b-x7iv87rmfm] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}


.flex-container[b-x7iv87rmfm] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-evenly[b-x7iv87rmfm] { 
    justify-content: space-evenly; 
  }
  .space-evenly li[b-x7iv87rmfm] {
    background: #bada55; 
  }

  .flex-item[b-x7iv87rmfm] {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }


  details[open] summary ~ *[b-x7iv87rmfm] {
    animation: open-b-x7iv87rmfm 0.3s ease-in-out;
  }
  
  @keyframes open-b-x7iv87rmfm {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary[b-x7iv87rmfm]::-webkit-details-marker {
    display: none;
  }
  
  details summary[b-x7iv87rmfm] {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(16, 193, 119);
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
    justify-content: space-between;
  }
  
  details summary[b-x7iv87rmfm]:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }
  details[open] summary[b-x7iv87rmfm]:after {
    transform: rotate(45deg);
    font-size: 2rem;
  }
  details summary[b-x7iv87rmfm] {
    outline: 0;
  }
  details p[b-x7iv87rmfm] {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
  