.card[b-x7iv87rmfm] {
    flex-direction: column;
}

.card img[b-x7iv87rmfm] {
    width: 30%;
  }
#search[b-x7iv87rmfm] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}


#time[b-x7iv87rmfm] {
    padding-left: 25px;
}




ul[b-x7iv87rmfm] {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li[b-x7iv87rmfm] {
    display: list-item;
    text-align: -webkit-match-parent;
    
}

.DetailsTable--DetailsTable--3Bt2T[b-x7iv87rmfm] {
    display: flex;
    flex-flow: row wrap;
}


.DetailsTable--listItem--Z-5Vi[b-x7iv87rmfm] {
    border-top: 1px solid #dedede!important;
    margin: 10px 0 0;
    padding: 10px 0 0;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    list-style: none;
}

.DetailsTable--label--1qspW[b-x7iv87rmfm] {
    display: block;
    font-size: .8125rem;
    overflow-wrap: break-word;
}

.flex-container[b-x7iv87rmfm] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-evenly[b-x7iv87rmfm] { 
    justify-content: space-evenly; 
  }
  .space-evenly li[b-x7iv87rmfm] {
    background: #bada55; 
  }

  .flex-item[b-x7iv87rmfm] {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }