/* /Pages/HourlyForeCast.Razor.rz.scp.css */
.card[b-x7iv87rmfm] {
    flex-direction: column;
}

.card img[b-x7iv87rmfm] {
    width: 30%;
  }
#search[b-x7iv87rmfm] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}





.flex-container[b-x7iv87rmfm] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-evenly[b-x7iv87rmfm] { 
    justify-content: space-evenly; 
  }
  .space-evenly li[b-x7iv87rmfm] {
    background: #bada55; 
  }

  .flex-item[b-x7iv87rmfm] {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }



  
   /* details > summary {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly; 
    list-style: none;
  } */

  /* display > summary {
    list-style: none;
  }

  /* details{
    display: flex;
    
    justify-content: space-evenly;
  } 
  details summary::-webkit-details-marker {
    display:none;
  }

  summary::after {
    content: ' +';
  }
  details[open] summary:after {
    content: " -";
  }  */

  /* details {
    padding: 0 var(--padding);
    box-shadow: inset 0 0 0 4px;
    border-radius: 1px;
  }
  details[open] {
    padding-bottom: var(--padding);
  }
  
  details > summary {
    display: flex;
    /* padding: var(--padding);
    margin: 0 calc(var(--padding) * -1); 
    border-radius: 1px;
    font-size: 24px;
    cursor: pointer;
    justify-content: space-evenly;
    list-style: none; /* Hides the default arrow 
  }
  details[open] > summary {
    box-shadow: 0 2px;
  }
  /* Adds an icon when the <details> is closed... 
  details > summary::after {
    content: "+";
  }
  /* ...and switches it when <details> is open 
  details[open] > summary::after {
    content: "-";
  }
  /* Removes the ugly default arrow on Chrome 
  details > summary::-webkit-details-marker {
    display: none;
  } */

  /* style="justify-content: space-between;" */

  details[open] summary ~ *[b-x7iv87rmfm] {
    animation: open-b-x7iv87rmfm 0.3s ease-in-out;
  }
  
  @keyframes open-b-x7iv87rmfm {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary[b-x7iv87rmfm]::-webkit-details-marker {
    display: none;
  }
  
  details summary[b-x7iv87rmfm] {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgb(16, 193, 119);
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
    justify-content: space-between;
  }
  
  details summary[b-x7iv87rmfm]:after {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }
  details[open] summary[b-x7iv87rmfm]:after {
    transform: rotate(45deg);
    font-size: 2rem;
  }
  details summary[b-x7iv87rmfm] {
    outline: 0;
  }
  details p[b-x7iv87rmfm] {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
  
/* /Pages/Index.razor.rz.scp.css */
body[b-5rwp2ce8lp] {
  background-image: linear-gradient(lightslategray, rgb(208, 208, 208));
}

.flex-container[b-5rwp2ce8lp] {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.index-big[b-5rwp2ce8lp] {
  font-size: 10em;
}

.index-weather[b-5rwp2ce8lp] {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 50px 20px;
    max-width: 800px;
}

.index-container[b-5rwp2ce8lp]{

  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
  margin: 50px 20px;
  max-width: 1000px;


}
.index-header[b-5rwp2ce8lp] {
    font-size: 3em;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center; /* Added to center the text */
  }

  .alert-container[b-5rwp2ce8lp] {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(154, 1, 1, 0.35);
    margin: 5px 10px 0px 10px;
}


  .location-form[b-5rwp2ce8lp] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .location-form label[b-5rwp2ce8lp] {
    margin-right: 10px;
  }
  
  .location-input[b-5rwp2ce8lp] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
  }
    
.card[b-5rwp2ce8lp] {
    flex-direction: column;
}




  .flex-item[b-5rwp2ce8lp] {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }


  details summary[b-5rwp2ce8lp]::-webkit-details-marker {
    display: none;
  }
  
  details summary[b-5rwp2ce8lp] {
    width: 100%;
    padding: 0.5rem 0;
    
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 300;
    list-style: none;
    justify-content: space-between;
    
  }
  
  details summary[b-5rwp2ce8lp]:before {
    content: "+";
    color: black;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    /* margin-top: 0.5rem; */
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
    /* padding: 5px; */
  }
  details[open] summary[b-5rwp2ce8lp]:before {
    transform: rotate(45deg);
    font-size: 2rem;
  }
  details summary[b-5rwp2ce8lp] {
    outline: 0;
  }
  details p[b-5rwp2ce8lp] {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
/* /Shared/Astro.razor.rz.scp.css */
.form-group[b-gpc57fcor0] {
  margin-bottom: 0.5rem;
}

.form-label[b-gpc57fcor0] {
  display: block;
  font-family: Arial, sans-serif;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: large;
  color: #000000;
}

.astro-details[b-gpc57fcor0] {
  display: flex;
  flex-direction: column;
}

.form-control[b-gpc57fcor0] {
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  height: calc(2rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 2px solid #6aabf1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn[b-gpc57fcor0] {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #6aabf1;
  border: 1px solid #6aabf1;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover[b-gpc57fcor0] {
  background-color: #0069d9;
  border-color: #0062cc;
}

.output-box[b-gpc57fcor0] {
  width: 80%;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.display-6[b-gpc57fcor0] {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.astro-details[b-gpc57fcor0] {
  display: flex;
  flex-direction: column;
}

.astro-details img[b-gpc57fcor0] {
  margin-right: 1rem;
}

.astro-details p[b-gpc57fcor0] {
  margin: 0;
}


.output-box .astro-details[b-gpc57fcor0] {
  width: 50%;
  margin: 0;
}

.output-box .astro-details:nth-child(odd)[b-gpc57fcor0] {
  text-align: right;
}

.output-box .astro-details:nth-child(even)[b-gpc57fcor0] {
  text-align: left;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p2bs0tkcr3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p2bs0tkcr3] {
    flex: 1;
}

/* .sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
} */

.top-row[b-p2bs0tkcr3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p2bs0tkcr3]  a, .top-row[b-p2bs0tkcr3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-p2bs0tkcr3]  a:hover, .top-row[b-p2bs0tkcr3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-p2bs0tkcr3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p2bs0tkcr3] {
        display: none;
    }

    .top-row.auth[b-p2bs0tkcr3] {
        justify-content: space-between;
    }

    .top-row[b-p2bs0tkcr3]  a, .top-row[b-p2bs0tkcr3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p2bs0tkcr3] {
        flex-direction: row;
    }

    .sidebar[b-p2bs0tkcr3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        /* background-color: rgb(47, 79, 79) */
        background-color: lightslategray;
    }

    .top-row[b-p2bs0tkcr3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-p2bs0tkcr3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-p2bs0tkcr3], article[b-p2bs0tkcr3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fjo7m7klui] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fjo7m7klui] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fjo7m7klui] {
    font-size: 1.1rem;
}

.oi[b-fjo7m7klui] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fjo7m7klui] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fjo7m7klui] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fjo7m7klui] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fjo7m7klui]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fjo7m7klui]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fjo7m7klui]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fjo7m7klui] {
        display: none;
    }

    .collapse[b-fjo7m7klui] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fjo7m7klui] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
