/* /Pages/HourlyForeCast.Razor.rz.scp.css */
.card[b-x7iv87rmfm] {
    flex-direction: column;
}

.card img[b-x7iv87rmfm] {
    width: 30%;
  }
#search[b-x7iv87rmfm] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}


#time[b-x7iv87rmfm] {
    padding-left: 25px;
}




ul[b-x7iv87rmfm] {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li[b-x7iv87rmfm] {
    display: list-item;
    text-align: -webkit-match-parent;
    
}

.DetailsTable--DetailsTable--3Bt2T[b-x7iv87rmfm] {
    display: flex;
    flex-flow: row wrap;
}


.DetailsTable--listItem--Z-5Vi[b-x7iv87rmfm] {
    border-top: 1px solid #dedede!important;
    margin: 10px 0 0;
    padding: 10px 0 0;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    list-style: none;
}

.DetailsTable--label--1qspW[b-x7iv87rmfm] {
    display: block;
    font-size: .8125rem;
    overflow-wrap: break-word;
}

.flex-container[b-x7iv87rmfm] {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-evenly[b-x7iv87rmfm] { 
    justify-content: space-evenly; 
  }
  .space-evenly li[b-x7iv87rmfm] {
    background: #bada55; 
  }

  .flex-item[b-x7iv87rmfm] {
    background: tomato;
    padding: 5px;
    width: 60px;
    height: 50px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }
/* /Shared/Astro.razor.rz.scp.css */
body[b-gpc57fcor0] {
    background-image: url("https://images.unsplash.com/photo-1505322022379-7c3353ee6291?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .astronomy-container[b-gpc57fcor0] {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    max-width: 800px;
  }
  
  .astronomy-header[b-gpc57fcor0] {
    font-size: 3em;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center; /* Added to center the text */
  }
  
  .location-form[b-gpc57fcor0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .location-form label[b-gpc57fcor0] {
    margin-right: 10px;
  }
  
  .location-form input[type="text"][b-gpc57fcor0] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    max-width: 400px;
  }
  
  .radio-buttons[b-gpc57fcor0] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .radio-buttons label[b-gpc57fcor0] {
    margin-right: 10px;
  }
  
  .radio-buttons input[type="radio"][b-gpc57fcor0] {
    display: none;
  }
  
  .radio-buttons label[b-gpc57fcor0] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .radio-buttons input[type="radio"]:checked + label[b-gpc57fcor0] {
    background-color: #0069d9;
  }
  
  .location-form button[type="submit"][b-gpc57fcor0] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
  }
  
  .location-form button[type="submit"]:hover[b-gpc57fcor0] {
    background-color: #0069d9;
  }
  
  .sunrise-sunset-details[b-gpc57fcor0] {
    font-size: 1.2em;
    margin-top: 30px;
  }
  
  .sunrise-sunset-details span[b-gpc57fcor0] {
    background-color: #0069d9; /* Changed the background color of the span */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-p2bs0tkcr3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-p2bs0tkcr3] {
    flex: 1;
}

.sidebar[b-p2bs0tkcr3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-p2bs0tkcr3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-p2bs0tkcr3]  a, .top-row[b-p2bs0tkcr3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-p2bs0tkcr3]  a:hover, .top-row[b-p2bs0tkcr3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-p2bs0tkcr3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-p2bs0tkcr3] {
        display: none;
    }

    .top-row.auth[b-p2bs0tkcr3] {
        justify-content: space-between;
    }

    .top-row[b-p2bs0tkcr3]  a, .top-row[b-p2bs0tkcr3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-p2bs0tkcr3] {
        flex-direction: row;
    }

    .sidebar[b-p2bs0tkcr3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-p2bs0tkcr3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-p2bs0tkcr3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-p2bs0tkcr3], article[b-p2bs0tkcr3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fjo7m7klui] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fjo7m7klui] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fjo7m7klui] {
    font-size: 1.1rem;
}

.oi[b-fjo7m7klui] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fjo7m7klui] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fjo7m7klui] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fjo7m7klui] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fjo7m7klui]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fjo7m7klui]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fjo7m7klui]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fjo7m7klui] {
        display: none;
    }

    .collapse[b-fjo7m7klui] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fjo7m7klui] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
